#!/usr/bin/env ruby
# encoding: utf-8
require 'resque/server'
Resque.redis = Redis.new(:host => '{{ resque_web.config.redis.host }}', :port => {{ resque_web.config.redis.port }})
run Rack::URLMap.new '/' => Resque::Server.new
